spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/blog_repository
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always



